body {
    background-color: linen;
}

h1 {
    color: #666666;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    color: black;
    padding: 8px 16px;
    width: 150px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: #007707;
}