body {
    background-color: linen;
}

h1 {
    color: #666666;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 25%;
    border: 1px;
    background-color: #007707;
}
li {
    display: inline-grid;
}

li a{
    display: block;
    color: linen;
    padding: 8px 16px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    border-radius: 25%;
    border: 1px;
    background-color: #004400;
}

li a:hover {
    background-color: black;
    color: #007707;
    text-emphasis: #004400;
}